<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lachatonnerie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <h1> ahahahah lol </h1>
 <header class="p-3 bg-primary text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand text-white" href="/">La Chatonnerie</a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-white">Créer une annonce</a></li>
              <li><a href="/" class="nav-link px-2 text-white">Consulter les annonces</a></li>
              <li><a href="/" class="nav-link px-2 text-white">A propos de nous</a></li>
            </ul>

            <ul>
              <% if user_signed_in? %>

                <li>
                  <%= current_user.email %>
                </li>

                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete, style: 'color:#FFFFFF;' %>
                </li>

                <li>
                  <%= link_to "My profile", user_path(current_user.id), {:style=>'color:#FFFFFF;'}%>
                </li>



                <li>
                  <%= link_to "Edit email / password", edit_user_registration_path, {:style=>'color:#FFFFFF;'}%>
                </li>

              <% else %>
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="<%=new_user_session_path%>" class="btn btn me-2 text-white">Se connecter</a></li>
                <li><a href="<%=new_user_registration_path%>" class="btn btn-outline-light me-2">S'inscrire</a></li>
              </ul>
              <% end %>
            </ul>

          </div>
        </div>
      </header>

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Lachatonnerie</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>

      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My profile
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          <%= link_to "Edit Profile", edit_user_registration_path, class:"dropdown-item" %>
        </div>
        </li>

      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign In / Sign Up
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Sign In", new_user_session_path, class:"dropdown-item" %>
              <%= link_to "Sign Up", new_user_registration_path, class:"dropdown-item" %>
            </div>
        </li>
      <% end %>
      </ul>
    </nav>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


      <%= yield %>

  </body>

</html>

